# --- Framework de la API ---
fastapi==0.116.1
uvicorn==0.35.0

# --- Herramientas de MLOps y Modelos ---
mlflow==3.2.0
scikit-surprise==1.1.4  # Si lo instalaste así
scikit-learn==1.3.2

# --- Manipulación de Datos ---
pandas==2.3.1
numpy==1.26.4

# --- Dependencias de MLflow/FastAPI ---
# No es necesario añadirlas todas a mano, pip las resolverá,
# pero estas son las esenciales que a menudo se necesitan.
SQLAlchemy
cloudpickle